<h1>Admin Dashboard</h1>

<h2>Posts</h2>
<ul>
  <% @posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> - <%= post.user.email %> | 
        <%= link_to 'Edit', edit_post_path(post) %> | 
        <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<h2>Tags</h2>
<ul>
  <% @tags.each do |tag| %>
    <li><%= tag.name %></li>
  <% end %>
</ul>
