<h1>Analytics</h1>
<h2>Most Viewed Posts</h2>
<ul>
  <% @most_viewed_posts.each do |post| %>
    <li><%= post.title %> - <%= post.views_count %> views</li>
  <% end %>
</ul>

<h2>Average Reading Time</h2>
<p><%= @average_reading_time %> minutes</p>

<h2>Top Performing Tags</h2>
<ul>
  <% @popular_tags.each do |tag| %>
    <li><%= tag.name %> - <%= tag.posts.count %> posts</li>
  <% end %>
</ul>

<%= link_to 'Back', posts_path %>